 <!-- <div class="text-center"> 
  <div class="row">
    <div class="col-sm">

  <h1>{{single[0].name}}</h1>
 
 <div class="col">

  
    <img src="../../../assets/images/{{single[0].images}}" class="d-block w-60" height="300px" >
  </div> -->

  
<!-- <div class="text">
   
<p>{{single[0].desc2}}</p>
<p>[innerhtml]="single[0].desc2"></div> -->
<!-- </div>
<div class="image"> <img src="../../../assets/images/{{single[0].images}}" class="center" height="300px" ></div>

</div></div>
   -->
   <div class="how-section1">
   <div class="row">
    <div class="col-md-6 how-img">
        <img src="../../../assets/images/{{single[0].images}}"  alt=""/>
    </div>
    <div class="col-md-6">
        <h4>{{single[0].name}}</h4>
                    <h4 class="subheading">{{single[0].desc4}}</h4>
                    <h5 class="text-muted">{{single[0].desc}}</h5>
    <p class="text-muted">{{single[0].desc2}}</p>
  
    <a class="btn btn-primary" href="product2" role="button">Add to cart</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
    <a class="btn btn-primary" href="product2" role="button">Buy now</a>
   

    </div>
    
</div>

   </div>
   