<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th style="width:50%">Product</th>
        <th style="width:10%">Price</th>
        <th style="width:8%">Quantity</th>
        <th style="width:22%" class="text-center">Subtotal</th>
        <th style="width:10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-th="Product">
          <div class="row">
            <div class="col-sm-2 hidden-xs"><img src="../../../assets/images/chess4.jpg" alt="..." class="img-responsive" height="100%" width="140%"></div>
            <div class="col-sm-10">
              <h5 class="nomargin">Product 1</h5>
              <p>Antique wooden folding chess board size 14*14 with metal parts</p>
            </div>
          </div>
        </td>
        <td data-th="Price">13,500₹</td>
        <td data-th="Quantity">
          <input type="number" class="form-control text-center" value="1">
        </td>
        <td data-th="Subtotal" class="text-center">13,500₹</td>
        <td class="actions" data-th="">
          <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
          <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="visible-xs">
        <td class="text-center"><strong>Total 13,500₹</strong></td>
      </tr>
      <tr>
        <td><a href="product" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
        <td colspan="2" class="hidden-xs"></td>
        <td class="hidden-xs text-center"><strong>Total  13,500₹</strong></td>
        <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
      </tr>
    </tfoot>
  </table>
</div>

<table id="cart" class="table table-hover table-condensed">
  <thead>
    <!-- <tr>
      <th style="width:50%">Product</th>
      <th style="width:10%">Price</th>
      <th style="width:8%">Quantity</th>
      <th style="width:22%" class="text-center">Subtotal</th>
      <th style="width:10%"></th>
    </tr> -->
  </thead>
  <tbody>
    <tr>
      <td data-th="Product">
        <div class="row">
          <div class="col-sm-2 hidden-xs"><img src="../../../assets/images/g1.jpg" alt="..." class="img-responsive"  height="100%" width="140%" /></div>
          <div class="col-sm-10">
            <h5 class="nomargin">Product 1</h5>
            <p>Antique vintage gramophone player orginal working gramophone</p>
          </div>
        </div>
      </td>
      <td data-th="Price">14,600₹</td>
      <td data-th="Quantity">
        <input type="number" class="form-control text-center" value="1">
      </td>
      <td data-th="Subtotal" class="text-center">14,600₹</td>
      <td class="actions" data-th="">
        <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
        <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr class="visible-xs">
      <td class="text-center"><strong>Total 14,600₹</strong></td>
    </tr>
    <tr>
      <td><a href="product" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
      <td colspan="2" class="hidden-xs"></td>
      <td class="hidden-xs text-center"><strong>Total 14,600₹</strong></td>
      <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
    </tr>
  </tfoot>
</table>