<div class="about-section">
  <div class="inner-container">
    <h1>About Us</h1>
    <p class="text">
      An antique shop (or antiques shop) is a retail store specializing in the selling of antiques. Antiques shops can be located either locally or, with the advent of the Internet, found online.
      An antiques shop can also be located within an antique mall, where an individual antique seller can open a booth or stall and display their personal or family items for sale within the mall.These mini-malls are a form of consignment shop, and are often located inside where previous large retailers such as grocery stores have moved out or closed outright.
    <div class="skills">
      <span>High quality</span>
      <span>Relationship </span>
      <span>Historical value</span>
    </div>
  </div>
</div>